<h2 mat-dialog-title>Добавить задачу</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Название*</mat-label>
    <input matInput [formControl]="titleControl">
    <mat-error *ngIf="titleControl.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="titleControl.hasError('maxlength')">
      Максимум 20 символов
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <textarea matInput [formControl]="descriptionControl"></textarea>
    <mat-error *ngIf="descriptionControl.hasError('maxlength')">
      Максимум 50 символов
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Отмена</button>
  <button mat-raised-button
          color="primary"
          (click)="save()"
          [disabled]="!titleControl.valid">
    Сохранить
  </button>
</mat-dialog-actions>
