  <div>
    <h2>{{ 'task-list.title' | translate }}</h2>

    <div class="controls-container">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>{{ 'task-list.find-task' | translate }}</mat-label>
        <input matInput [(ngModel)]="filterValue" (input)="applyFilter()">
      </mat-form-field>

      <button mat-raised-button color="primary" class="add-button" (click)="addTask()">
        <mat-icon>add</mat-icon> {{ 'task-list.add-task' | translate }}
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th width="25%" mat-header-cell *matHeaderCellDef>
          {{ 'task-list.list.name' | translate }}
        </th>
        <td mat-cell *matCellDef="let task">{{ task.title }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th width="25%" mat-header-cell *matHeaderCellDef>
          {{ 'task-list.list.description' | translate }}
        </th>
        <td mat-cell *matCellDef="let task">{{ task.description || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th width="25%" mat-header-cell *matHeaderCellDef>
          {{ 'task-list.list.status' | translate }}
        </th>
        <td mat-cell *matCellDef="let task">
          <mat-checkbox
            [(ngModel)]="task.status"
            (change)="onStatusChange(task)"
            (click)="$event.stopPropagation()">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th width="25%" mat-header-cell *matHeaderCellDef>
        <td mat-cell *matCellDef="let task">
          <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          (click)="openTaskDetails(row, $event)"
          class="task-row">
      </tr>
    </table>
  </div>
