@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  cursor: default;
}

.sidenav-container {
  display: flex;
  height: 100vh;
}

.sidenav {
  width: 250px;
  background: #fff;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
}

.content {
  flex: 1;
  padding: 24px;
  overflow: hidden;
}
